@import "tailwindcss";

.sprite {
  background-image: url("/css_sprites.png");
  background-repeat: no-repeat;
  display: block;
}

.bg-Alarm {
  width: 44px; height: 44px;
  background: url('css_sprites.png') -102px -286px;
}

.bg-Bike {
  width: 72px; height: 72px;
  background: url('css_sprites.png') -10px -10px;
}

.bg-Book {
  width: 72px; height: 72px;
  background: url('css_sprites.png') -102px -10px;
}

.bg-Car {
  width: 72px; height: 72px;
  background: url('css_sprites.png') -10px -102px;
}

.bg-CarWash {
  width: 72px; height: 72px;
  background: url('css_sprites.png') -102px -102px;
}

.bg-Chat {
  width: 44px; height: 44px;
  background: url('css_sprites.png') -166px -286px;
}

.bg-Cooking {
  width: 72px; height: 72px;
  background: url('css_sprites.png') -194px -10px;
}

.bg-Dog {
  width: 72px; height: 72px;
  background: url('css_sprites.png') -194px -102px;
}

.bg-Exercise {
  width: 72px; height: 72px;
  background: url('css_sprites.png') -10px -194px;
}

.bg-Game {
  width: 72px; height: 72px;
  background: url('css_sprites.png') -102px -194px;
}

.bg-Gym {
  width: 72px; height: 72px;
  background: url('css_sprites.png') -194px -194px;
}

.bg-Music {
  width: 72px; height: 72px;
  background: url('css_sprites.png') -286px -10px;
}